div(class="mx-auto mt-[70px] lg:mt-[100px] w-full lg:container h-full lg:h-[600px] relative")
    div(class="h-[350px] md:hidden")
    div(class="flex flex-col lg:flex-row lg:justify-end h-full")
        img(class="" src="./assets/woman-traveling-with-her-car.png")
    div(class="absolute flex flex-col md:flex-row top-0 h-full w-full")
        //- pc
        div(class="h-full w-1/2 hidden md:block md:bg-gradient-to-r from-[#5580E9FF] via-[#5580E9FF] 2xl:to-[#557fe9FF] to-[#5580E9B3]")
        div(class="h-full w-1/2 hidden md:block md:bg-gradient-to-r from-[#5580E9B3] 2xl:from-[#5580E9FF] 2xl:via-[#5580E9B3] ")
        //- mobile
        div(class="w-full h-1/2 md:hidden bg-gradient-to-b from-[#5580E9FF] via-[#5580E9FF] to-[#5580E9FF]")
        div(class="w-full h-1/2 md:hidden bg-gradient-to-b from-[#5580E9FF] via-[#5580E9B3]")
    div(class="absolute top-0 left-0 h-full w-full")
        div(class="flex flex-col h-full md:justify-center mt-16 md:mt-0  mx-10 lg:mx-24 text-white")
            div(class="text-base md:text-2xl") ВятГУ
            div(class="text-xl md:text-4xl mt-3") Автошкола Вятского <br/> Государственного Университета
            div(class="text-sm md:text-lg mt-10") Удобная форма обучения и оплата в рассрочку без %
            div(class="flex cursor-pointer justify-center items-center border rounded-xl bg-white text-[#597EE7] text-base md:text-2xl font-bold mt-14  md:px-24 py-4 w-full md:w-fit")
                div(class="") Записаться
