div(class="mx-auto w-full lg:container px-10 lg:px-24 mt-20")
    div(class="text-[20px] md:text-[32px] font-semibold mb-5") Контакты
    div(class="flex flex-col md:flex-row justify-between")
        ul(class="text-sm space-y-3 leading-5 md:text-lg font-medium mb-5")
            li(class="flex")
                div Телефон 
                div(class="ml-6") 8 800 555 35 35
            li(class="flex")
                div Телефон 
                div(class="ml-6") 8 800 555 35 35
            li(class="flex")
                div Телефон 
                div(class="ml-6") 8 800 555 35 35
        div(class="w-full md:w-2/3")
            iframe(class="w-full min-h-[300px]" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2079.280673682488!2d49.67925401604257!3d58.59079828140649!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43fcf4252d7505d5%3A0x7ec7269fe5c330bd!2z0JDQstGC0L7RiNC60L7Qu9CwINCS0Y_RgtCT0KMs0JLRj9GC0YHQutC40Lkg0LPQvtGB0YPQtNCw0YDRgdGC0LLQtdC90L3Ri9C5INGD0L3QuNCy0LXRgNGB0LjRgtC10YI!5e0!3m2!1sru!2sru!4v1673938791776!5m2!1sru!2sru") 