div(class="mx-auto w-full lg:container px-10 lg:px-24 mt-20")
    div(class="text-[20px] md:text-[32px] font-semibold") Учебные классы
    div(class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-5 md:mt-8")
        img(src="./assets/woman-traveling-with-her-car.png" class="")
        img(src="./assets/woman-traveling-with-her-car.png" class="")
        img(src="./assets/woman-traveling-with-her-car.png" class="")
        div(class="cursor-pointer md:col-start-2 w-full text-center flex justify-center items-center bg-gradient-to-r h-[50px] md:h-[70px] from-[#5580E9] to-[#8961D1] rounded-xl text-white p-2 text-base md:text-lg font-semibold") Посмотреть ещё
div(class="mx-auto w-full lg:container px-10 lg:px-24 mt-20")
    div(class="text-[20px] md:text-[32px] font-semibold") Автодром
    div(class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-5 md:mt-8")
        img(src="./assets/woman-traveling-with-her-car.png" class="")
        img(src="./assets/woman-traveling-with-her-car.png" class="")
        img(src="./assets/woman-traveling-with-her-car.png" class="")
        div(class="cursor-pointer md:col-start-2 w-full text-center flex justify-center items-center bg-gradient-to-r h-[50px] md:h-[70px] from-[#5580E9] to-[#8961D1] rounded-xl text-white p-2 text-base md:text-lg font-semibold") Посмотреть ещё
div(class="mx-auto w-full lg:container px-10 lg:px-24 mt-20")
    div(class="text-[20px] md:text-[32px] font-semibold") Прочее
    div(class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-5 md:mt-8")
        img(src="./assets/woman-traveling-with-her-car.png" class="")
        img(src="./assets/woman-traveling-with-her-car.png" class="")
        img(src="./assets/woman-traveling-with-her-car.png" class="")
        div(class="cursor-pointer md:col-start-2 w-full text-center flex justify-center items-center bg-gradient-to-r h-[50px] md:h-[70px] from-[#5580E9] to-[#8961D1] rounded-xl text-white p-2 text-base md:text-lg font-semibold") Посмотреть ещё
