div(class="mx-auto w-full lg:container px-10 lg:px-24 mt-10 mb-10")
    div(class="text-[20px] md:text-[32px] font-semibold") Набор в группы
    div(class="text-sm md:text-lg font-medium mt-3 md:mt-10") Набор в группы осуществляется ежемесячно
    div(class="mt-4 md:mt-10 flex flex-col space-y-6")
        //- онлайн
        div
            div(class="text-base md:text-2xl font-semibold") Онлайн-обучение
            div(class="mt-4 md:mt-9 border bg-gradient-to-r from-[#5580E9] to-[#8961D1] w-full rounded-xl")
                div(class="bg-white m-[1px] rounded-t-xl py-6") 
                    div(class="ml-6 md:ml-16")
                        div(class="text-[10px] md:text-sm") Онлайн обучение
                        div(class="text-base md:text-lg font-semibold mt-1 text-[#5580E9]") Запись осуществляется в любое время
                div(class="text-white text-center text-base md:text-lg font-semibold py-2 md:py-4") Записаться
        //- очное (Ленина)
        div()
            div(class="text-base md:text-2xl font-semibold") Очное обучение
            div(class="text-base md:text-lg font-medium mt-2 mb-5 md:mb-10") Учебный класс (ул.Ленина, 111а)
            div(class="flex flex-col md:flex-row space-y-7 md:space-y-0 md:space-x-6")
                //- 
                div(class=" border bg-gradient-to-r from-[#5580E9] to-[#8961D1] w-full rounded-xl")
                    div(class="bg-white m-[1px] rounded-t-xl py-6") 
                        div(class="ml-5")
                            div(class="text-[10px] md:text-sm") Утренние группы
                            div(class="text-base md:text-lg text-[#5580E9] font-bold") 18 января 2023 год
                            div(class="text-base md:text-lg font-medium mt-1") Организационное собрание
                            div(class="flex items-center mt-2")
                                img(src="./../../assets/clock.svg" class="h-[25px] md:h-auto")
                                div(class="ml-2 md:ml-3 text-base md:text-lg font-semibold") C 10:00
                    div(class="text-white text-center text-base md:text-lg font-semibold py-2 md:py-4") Записаться
                //- 
                div(class="border bg-gradient-to-r from-[#5580E9] to-[#8961D1] w-full rounded-xl")
                    div(class="bg-white m-[1px] rounded-t-xl py-6") 
                        div(class="ml-5")
                            div(class="text-[10px] md:text-sm") Вечерние группы
                            div(class="text-base md:text-lg text-[#5580E9] font-bold") 13 декабря 2022 год
                            div(class="text-base md:text-lg font-medium mt-1") Организационное собрание
                            div(class="flex items-center mt-2")
                                img(src="./../../assets/clock.svg" class="h-[25px] md:h-auto")
                                div(class="ml-2 md:ml-3 text-base md:text-lg font-semibold") C 18:00
                    div(class="text-white text-center text-base md:text-lg font-semibold py-2 md:py-4") Записаться
                //- 
                div(class="border bg-gradient-to-r from-[#5580E9] to-[#8961D1] w-full rounded-xl")
                    div(class="bg-white m-[1px] rounded-t-xl py-6") 
                        div(class="ml-5")
                            div(class="text-[10px] md:text-sm") Группы выходного дня
                            div(class="text-base md:text-lg text-[#5580E9] font-bold") 21 января 2023 год
                            div(class="text-base md:text-lg font-medium mt-1") Организационное собрание
                            div(class="flex items-center mt-2")
                                img(src="./../../assets/clock.svg" class="h-[25px] md:h-auto")
                                div(class="ml-2 md:ml-3 text-base md:text-lg font-semibold") C 10:00
                    div(class="text-white text-center text-base md:text-lg font-semibold py-2 md:py-4") Записаться
        //- очное (Студ. проезд)
        div()
            div(class="text-base md:text-2xl font-semibold") Очное обучение
            div(class="text-base md:text-lg font-medium mt-2 mb-5 md:mb-10") Учебный класс (Студенческий проезд, 11)
            div(class="flex flex-col md:flex-row space-y-7 md:space-y-0 md:space-x-6")
                //- 
                div(class=" border bg-gradient-to-r from-[#5580E9] to-[#8961D1] w-full rounded-xl")
                    div(class="bg-white m-[1px] rounded-t-xl py-6") 
                        div(class="ml-5")
                            div(class="text-[10px] md:text-sm") Вечерние группы
                            div(class="text-base md:text-lg text-[#5580E9] font-bold") 24 января 2023 год
                            div(class="text-base md:text-lg font-medium mt-1") Организационное собрание
                            div(class="flex items-center mt-2")
                                img(src="./../../assets/clock.svg" class="h-[25px] md:h-auto")
                                div(class="ml-2 md:ml-3 text-base md:text-lg font-semibold") C 18:00
                    div(class="text-white text-center text-base md:text-lg font-semibold py-2 md:py-4") Записаться
                //- 
                div(class="border bg-gradient-to-r from-[#5580E9] to-[#8961D1] w-full rounded-xl")
                    div(class="bg-white m-[1px] rounded-t-xl py-6") 
                        div(class="ml-5")
                            div(class="text-[10px] md:text-sm") Группы выходного дня
                            div(class="text-base md:text-lg text-[#5580E9] font-bold") Нет набора
                            div(class="text-base md:text-lg font-medium mt-1") Организационное собрание
                            div(class="flex items-center mt-2")
                                img(src="./../../assets/clock.svg" class="h-[25px] md:h-auto")
                                div(class="ml-2 md:ml-3 text-base md:text-lg font-semibold") -
                    div(class="text-white text-center text-base md:text-lg font-semibold py-2 md:py-4")
    div(class="mt-6 text-sm md:text-lg leading-8 font-medium") Практические занятия в любой день недели! <br class="hidden md:block"/> Наши мастера инструктора работают в утреннее, дневное, вечернее время, в выходные и праздничные дни.