- 
    const arrInfoMaterials = [
        'Закон Российской Федерации от 7 февраля 1992 г. N 2300-1 “О защите прав потребителей”;',
        'Копия лицензий с соответствующим приложением;',
        'Примерная программа профессиональной подготовки водителей транспортных средств категории "В";',
        'Программа профессиональной подготовки водителей транспортных средств категории "В", согласованная с Госавтоинспекцией;',
        'Учебный план;',
        'Календарный учебный график (на каждую учебную группу);',
        'Расписание занятий (на каждую учебную группу);',
        'График учебного вождения (на каждую учебную группу);',
        'Схемы учебных маршрутов, утвержденные руководителем организации, осуществляющей образовательную деятельность;',
        'Книга жалоб и предложений;',
    ]

div(class="mx-auto w-full lg:container px-10 lg:px-24 mt-20")
    div(class="text-[20px] md:text-[32px] font-semibold") Информационные материалы
    ul(class="list-decimal list-inside font-medium text-base md:text-xl leading-5 mt-5 md:mt-10")
        each val in arrInfoMaterials
            li(class="")=val
        li Адрес официального сайта в сети "Интернет": <a class="underline underline-offset-2" href="https://developer.vyatsu.ru">developer.vyatsu.ru</a>,
    div(class="text-center mt-12 md:mt-16 text-base md:text-xl font-semibold") Материальная база соответствует требованиям
        