div(class="mx-auto w-full lg:container px-10 lg:px-24 mt-20")
    div(class="text-[20px] md:text-[32px] font-semibold mb-5") Лицензии
    div(class="grid grid-cols-2 md:grid-cols-4 mt-4 md:mt-8 gap-4")
        - for (var x = 0; x < 4; x++)
            img(src="./assets/obrazec-licenzij-na-obrazovatelnuyu-deyatelnost.jpg")