div(class="mx-auto w-full lg:container px-10 lg:px-24 mt-20")
    div(class="text-[20px] md:text-[32px] font-semibold") Наши транспортные средства
    div(class="mt-5 md:mt-10 grid grid-cols-1 md:grid-cols-3 gap-x-4 gap-y-10 md:gap-y-16")
        div(class="")
            img(src="./../assets/our_cars/car_example1.jpg" class="h-[200px] md:h-[250px] mx-auto")
            div(class="mt-[25px] md:mt-[35px] text-lg font-medium") Текст текст текст
        div(class="")
            img(src="./../assets/our_cars/car_example2.jpg" class="h-[200px] md:h-[250px] mx-auto")
            div(class="mt-[25px] md:mt-[35px] text-lg font-medium") Текст текст текст
        div(class="")
            img(src="./../assets/our_cars/car_example3.png" class="h-[200px] md:h-[250px] mx-auto")
            div(class="mt-[25px] md:mt-[35px] text-lg font-medium") Текст текст текст
        div(class="")
            img(src="./../assets/our_cars/car_example1.jpg" class="h-[200px] md:h-[250px] mx-auto")
            div(class="mt-[25px] md:mt-[35px] text-lg font-medium") Текст текст текст
        div(class="")
            img(src="./../assets/our_cars/car_example2.jpg" class="h-[200px] md:h-[250px] mx-auto")
            div(class="mt-[25px] md:mt-[35px] text-lg font-medium") Текст текст текст
        div(class="")
            img(src="./../assets/our_cars/car_example3.png" class="h-[200px] md:h-[250px] mx-auto")
            div(class="mt-[25px] md:mt-[35px] text-lg font-medium") Текст текст текст