div(class="mx-auto w-full lg:container px-10 lg:px-24 mt-20")
    div(class="text-[20px] md:text-[32px] font-semibold") Стоимость
    div(class="mt-10 flex flex-col md:flex-row space-y-7 md:space-y-0 md:space-x-6")
        //- очная 
        div(class="border bg-gradient-to-r from-[#5580E9] to-[#8961D1] w-full rounded-xl")
            div(class="bg-white m-[1px] rounded-t-xl py-6") 
                div(class="ml-6 lg:ml-16")
                    div(class="text-sm md:text-lg text-[#5580E9]") Услуга
                    div(class="text-base md:text-2xl font-semibold mt-1") Очная форма обучения
            div(class="ml-6 lg:ml-16 text-white text-lg md:text-[27px] font-semibold py-2 md:py-4") 23000 руб.
        //- онлайн
        div(class="border bg-gradient-to-r from-[#D0D0D0] to-[#D0D0D0] w-full rounded-xl")
            div(class="bg-white m-[1px] rounded-t-xl py-6") 
                div(class="ml-6 lg:ml-16")
                    div(class="text-sm md:text-lg text-[#5580E9]") Услуга
                    div(class="text-base md:text-2xl font-semibold mt-1") Очная форма обучения
            div(class="ml-6 lg:ml-16 text-white text-lg md:text-[27px] font-semibold py-2 md:py-4") 22000 руб.
    //- list of info
    div(class="mt-10")
        ul(role="list" class="indent-1 md:indent-8 space-y-2 list-inside font-medium text-sm md:text-lg marker:content-[url(./../assets/marker-sm.svg)] md:marker:content-[url(./assets/marker.svg)] marker:before:pr-4 md:marker:before:pr-6 marker:h-10 marker:w-10 leading-6")
            li() В стоимость входит: теория, автодром, город, ГСМ (бензин), компьютерный класс, школьные экзамены, предоставление автомобиля на экзамен в ГИБДД в составе своей группы.
            li() Имеется рассрочка платежа: первоначальный взнос 5000 р., остальные взносы на протяжении всего обучения.
            li() Срок обучения: 2,5 - 3,5 месяца.
            li() По окончании курсов автошкола предоставляет документы для ИФНС РФ на возмещение НДФЛ (13%) за обучение.