div(class="px-10 lg:px-24 mx-auto container mt-[70px] lg:mt-[100px] ")
    div(class=" h-full lg:h-[350px] relative rounded-xl overflow-hidden")
        div(class="hidden lg:flex flex-col lg:flex-row lg:justify-end h-full")
            img(class="" src="./assets/woman-traveling-with-her-car.png")
        div(class="absolute flex flex-col md:flex-row top-0 left-0 h-full w-full")
            //- pc
            div(class="h-full w-1/2 hidden md:block md:bg-gradient-to-r from-[#5580E9FF] via-[#5580E9FF] 2xl:to-[#557fe9FF] to-[#5580E9FF]")
            div(class="h-full w-1/2 hidden md:block md:bg-gradient-to-r from-[#5580E9FF] 2xl:from-[#5580E9FF] 2xl:via-[#5580E9FF] ")
            //- mobile
            div(class="w-full h-full md:hidden bg-gradient-to-r from-[#5580E9] to-[#8961D1]")
        div(class="relative md:absolute top-0 left-0 h-full w-full font-semibold")
            div(class="py-8 flex flex-col h-full md:justify-center mt-0 mx-4 md:mx-10 lg:mx-24 text-white")
                div(class="text-[20px] md:text-[32px] ") Для поступления необходимо:
                ol(class="mt-5 list-decimal list-inside leading-10 text-sm md:text-lg")
                    li Паспорт (копия паспорта: первая страница и прописка)
                    li СНИЛС
                    li Заявление
                    li Медицинская справка формы 003-В/у
                    li 1 фотография 3х4