div(class="mx-auto w-full lg:container px-10 lg:px-24 mt-10 mb-10")
    div(class="text-[20px] md:text-[32px] font-semibold") Отзывы
    div(class="mt-5 md:mt-10 swiper w-full")
        //  Additional required wrapper 
        div(class="swiper-wrapper min-h-[100px] md:min-h-[150px]")
            //  Slides 
            div(class="swiper-slide flex items-center justify-center bg-slate-400 h-auto") 
                div() 1
            div(class="swiper-slide flex items-center justify-center  bg-red-400  h-full") 
                div() 2
            div(class="swiper-slide flex items-center justify-center  bg-green-400  h-full") 
                div() 3
            div(class="swiper-slide flex items-center justify-center  bg-orange-600  h-full") 
                div() 4
            div(class="swiper-slide flex items-center justify-center  bg-teal-500  h-full") 
                div() 5
        div(class="mt-10 flex justify-center items-center")
            div(class="review-prev font-semibold text-[#5580E9] text-lg") 
                div(class="p-3") <
            div(class="!static !w-fit swiper-pagination")
            div(class="review-next font-semibold text-[#5580E9] text-lg")
                div(class="p-3") >
    div(class="mt-5 md:mt-10")
        div(class="w-full text-center bg-gradient-to-r from-[#5580E9] to-[#8961D1] rounded-xl text-white p-2 text-base md:text-lg font-semibold") Читать все отзывы