- 
    const arrRoutes = [
        {name:"С малой интенсивностью движения", img:"./assets/routes/road.svg"},
        {name:"Движение в потоке", img:"./assets/routes/car.svg"},
    ]

div(class="mx-auto w-full lg:container px-10 lg:px-24 mt-20")
    div(class="text-[20px] md:text-[32px] font-semibold") Вождение на городских маршрутах Кирова, где разрешена учебная езда
    div(class="grid grid-cols-1 md:grid-cols-2 gap-4")
        each val in arrRoutes 
            div(class="flex items-center mt-5 md:mt-10")
                img(src=`${val.img}` class="h-[80px] md:h-[100px]")
                div(class="text-sm md:text-[20px] ml-3")=val.name