div(class="mx-auto w-full lg:container px-10 lg:px-24 mt-10 mb-10")
    div(class="text-[20px] md:text-[32px] font-semibold") Права в несколько шагов
    div(class="mt-5 md:mt-10 grid grid-cols-1 md:grid-cols-4 gap-10 md:gap-16")
        //- 
        div(class="relative")
            div(class="pl-10 md:pl-0 text-base md:text-lg font-semibold") Теория
            div(class="absolute md:static top-0 h-full md:h-auto md:mt-5 md:flex md:items-center")
                div(class="md:h-0 border border-[#5580E9B2] bg-[#5580E9B2] absolute h-[calc(100%_+_2.25rem)] md:w-[calc(100%_+_4rem)] top-4 md:top-auto left-[0.85rem] md:left-4")
                img(class="" src="./../../assets/circles.svg")
            div(class="pl-10 md:pl-0 mt-3") Первые 2 недели - изучение теории
        //- 
        div(class="relative")
            div(class="pl-10 md:pl-0 text-base md:text-lg font-semibold") Практика
            div(class="absolute md:static top-0 h-full md:h-auto md:mt-5 md:flex md:items-center")
                div(class="md:h-0 border border-[#5580E9B2] bg-[#5580E9B2] absolute h-[calc(100%_+_2.25rem)] md:w-[calc(100%_+_4rem)] top-4 md:top-auto left-[0.85rem] md:left-4")
                img(class="" src="./../../assets/circles.svg")
            div(class="pl-10 md:pl-0 mt-3") К теории добавляется практика на автодроме и в городе
        //- 
        div(class="relative")
            div(class="pl-10 md:pl-0 text-base md:text-lg font-semibold whitespace-nowrap") Экзамены в автошколе
            div(class="absolute md:static top-0 h-full md:h-auto md:mt-5 md:flex md:items-center")
                div(class="md:h-0 border border-[#5580E9B2] bg-[#5580E9B2] absolute h-[calc(100%_+_2.25rem)] md:w-[calc(100%_+_4rem)] top-4 md:top-auto left-[0.85rem] md:left-4")
                img(class="" src="./../../assets/circles.svg")
            div(class="pl-10 md:pl-0 mt-3") Сдайте внутренние экзамены по теории и практике
        //- 
        div(class="relative")
            div(class="pl-10 md:pl-0 text-base md:text-lg font-semibold whitespace-nowrap") Экзамены в ГИБДД
            div(class="absolute md:static top-0 h-full md:h-auto md:mt-5 md:flex md:items-center")
                //- div(class="h-0 border border-[#5580E9B2] bg-[#5580E9B2] absolute left-4")
                img(class="" src="./../../assets/circles.svg")
            div(class="pl-10 md:pl-0 mt-3") Сдайте экзамены в ГИБДД и получите водительские права
